* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-offset: 8px;
  box-shadow: 0 0 0 0.8rem rgba(12, 132, 153, 0.267);
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
strong {
  font-weight: 700;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 61.9em) {
  /* 560px */
  html {
    font-size: 50.5%;
  }
}

.btn-contact {
  font-size: 2rem;
  background-color: rgb(13, 122, 138);
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.5s;
  font-weight: inherit;
  border: none;
  color: #e9ecef;
  padding: 0.8rem 3.2rem;
}

.btn-contact:hover {
  background-color: #0c8599;
  transform: translateY(-0.3rem);
  color: #fff;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.5s;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
